<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pessoas cadastradas</h1>
    <ul>
        {% for pessoa in pessoas%}
        <li>{{pessoa.nome}}</li>
        <li>{{pessoa.email}}</li>
        <li>{{pessoa.idade}}</li>
        <a href="{% url 'deletar_pessoa' pessoa.id %}">Deletar</a><br>

        <a href="{% url 'atualizar_pessoa' pessoa.id %}">Atualizar pessoa</a>
        <br><br>
    </ul>
    {% endfor %}
    <a href="{% url 'criar_pessoa' %}">Criar pessoa</a>
</body>
</html>